<h1>Edit {{todo.description}}</h1>

<form method="POST" action="/todos/{{id}}?_method=PUT">
<div>
    <label for="description">Description:</label>
    <input name="description" {{todo.description}}</input>
</div>
<div>
    <label for="urgent">Urgent:</label>
    <span>Yes</span><input type="radio" name="urgent" value="{{todo.urgent}}" checked/>
    <span>No</span><input type="radio" name="urgent" value="false"/>
</div>
    <button>UPDATE</button>
</form>

