<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donut}}
			<div class="donut-container">

				<img src="{{this.img}}"/>

				<h3>	<a href="/donut/{{this._id}}/">{{this.name}}</a> </h3>

				<p>${{this.price}} each </p>

			</div>
		{{/each}}


</main>
